---
import Prose from "@root/src/features/article/components/Prose.astro";
import Layout from "@root/src/layouts/Layout.astro";
import Image from "astro/components/Image.astro";
import { marked } from "marked";

export const prerender = false;

type Article = {
  editDate?: Date | null | undefined;
  slug: string;
  title: string;
  excerpt: string;
  thumbnailSrc: string;
  thumbnailAlt: string;
  authorName: string;
  publishDate: Date;
  content: string;
};

const { slug } = Astro.params;

let response: Response;

try {
  response = await fetch(
    `${import.meta.env.BASE_URL}/api/${slug}`,
    {
      method: "GET",
      headers: {
        Authorization: `Bearer ${import.meta.env.API_SECRET}`,
        "Content-Type": "application/json",
      },
    }
  );

  if (response.status === 404)
    return new Response(JSON.stringify({ message: `Article not found for ${slug}` }), { status: 404 });

} catch {
  return new Response(JSON.stringify({ message: "Server error" }), { status: 500 });
}

const article: Article = await response.json();

const formattedPublishDate = new Date(article.publishDate).toLocaleDateString("id-ID");

const formattedEditDate = article.editDate
  ? new Date(article.editDate).toLocaleDateString("id-ID")
  : "";

marked.setOptions({
  breaks: true,
  gfm: true,
  async: true,
});

const articleContent = await marked.parse(article.content);

Astro.response.headers.append(
  'Cache-Tag', 
  `article-${slug}, all-articles`
);
Astro.response.headers.append(
  'Cache-Control', 
  'public, maxage=60, s-maxage=2592000, stale-while-revalidate=30'
);
---

<Layout title={article.title}>
  <article class="max-w-6xl mx-auto px-6 py-12">
    <header class="mb-12">
      <h1
        title={article.title}
        class="text-3xl md:text-4xl font-extrabold text-slate-900 tracking-tight mb-6"
      >
        {article.title}
      </h1>

      <div
        class="flex flex-wrap items-center gap-y-2 gap-x-4 text-sm text-slate-500 border-b border-slate-200 pb-8"
      >
        <address class="not-italic font-semibold text-slate-900">
          By {article.authorName}
        </address>
        <span class="text-slate-300">|</span>
        <p>
          Published: <time datetime={formattedPublishDate}
            >{formattedPublishDate}</time
          >
        </p>
        {
          article.editDate && (
            <>
              <span class="text-slate-300">•</span>
              <p class="italic">
                Edited: <time datetime={formattedEditDate}>{formattedEditDate}</time>
              </p>
            </>
          )
        }
      </div>

      <div class="overflow-hidden rounded-2xl shadow-lg mb-8">
        <Image
          src={article.thumbnailSrc}
          alt={article.thumbnailAlt}
          width={1500}
          height={300}
          class="w-full max-h-[50vh] h-auto object-cover transition-transform duration-500 hover:scale-105"
        />
      </div>
    </header>

    <section class="content">
      <Prose content={articleContent} />
    </section>
  </article>
</Layout>
