---
import getThumbHashUrl from "@root/src/common/utils/thumbhash";
import Prose from "@root/src/features/article/components/Prose.astro";
import Layout from "@root/src/layouts/Layout.astro";
import Image from "astro/components/Image.astro";
import { z } from "astro/zod";
import { marked } from "marked";

const articleSchema = z.object({
  article: z.object({
    slug: z.string(),
    publishedAt: z.nullable(z.date()),
    updatedAt: z.nullable(z.date()),
    body: z.string(),
    excerpt: z.string(),
    title: z.string(),
    rawThumbnailSrc: z.nullable(z.url()),
    thumbnailAlt: z.nullable(z.string()),
    thumbhash: z.nullable(z.string())
  }),
  authorNames: z.array(z.string().min(1)).min(1)
});

const { slug } = Astro.params;

const res = await fetch(`${process.env.BE_ENDPOINT || ""}/article/${slug}`, {
  method: "GET",
  headers: {
    "x-internal-secret": process.env.INTERNAL_SECRET || ""
  }
});

const json = await res.json();

const articleData = articleSchema.parse(json);

const article = articleData.article;
const authorNames = articleData.authorNames.join(", ");

// TODO handle the publish date properly
// right now, the backend sends null
const formattedPublishDate = article.publishedAt 
  ? new Date(article.publishedAt).toLocaleDateString("id-ID") 
  : new Date().toLocaleDateString("id-ID");

const formattedEditDate = article.updatedAt
  ? new Date(article.updatedAt).toLocaleDateString("id-ID")
  : "";

marked.setOptions({
  breaks: true,
  gfm: true,
  async: true,
});

const articleContent = await marked.parse(article.body);

const placeholderImgUrl = article.thumbhash ? getThumbHashUrl(article.thumbhash) : "";

Astro.response.headers.set('Cache-Control', 'public, max-age=60, s-maxage=3600, stale-while-revalidate=60');
---

<Layout title={articleData.article.title}>
  <article class="max-w-1/2 mx-auto px-6 py-12">
    <header class="mb-12">
      <h1
        title={articleData.article.title}
        class="text-3xl md:text-4xl font-extrabold text-slate-900 tracking-tight mb-6"
      >
        {articleData.article.title}
      </h1>

      <div class="flex flex-wrap items-center gap-y-2 gap-x-4 text-sm text-slate-500 border-b border-slate-200 pb-12">
        <address class="not-italic font-semibold text-slate-900">
          By {authorNames}
        </address>
        <span class="text-slate-300">|</span>
        <p>
          Published: <time datetime={formattedPublishDate}
            >{formattedPublishDate}</time
          >
        </p>
        {
          article.updatedAt && (
            <>
              <span class="text-slate-300">•</span>
              <p class="italic">
                Edited: <time datetime={formattedEditDate}>{formattedEditDate}</time>
              </p>
            </>
          )
        }
      </div>

      <div class="relative aspect-2/1 overflow-hidden rounded-2xl shadow-lg mb-8 bg-gray-100">
        <img 
          src={placeholderImgUrl} 
          alt=""
          aria-hidden="true"
          class="absolute inset-0 w-full h-full object-cover"
        />
        <Image
          src={article.rawThumbnailSrc || ""}
          alt={article.thumbnailAlt}
          width={1600}
          height={500}
          class="relative z-10 w-full max-h-[50vh] h-auto object-cover transition-all duration-500 opacity-0 hover:scale-105"
          format="webp"
          quality="low"
          loading="lazy"
          decoding="async"
          onload="this.classList.remove('opacity-0')"
        />
      </div>
    </header>

    <section class="content">
      <Prose content={articleContent} />
    </section>
  </article>
</Layout>
